*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d3caca;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;  
}

h2{
    text-align: center;
    font-size: larger;
}

form{
    display: grid;
    grid-template-columns: lfr auto;
    grid-gap: 8px;
    margin-top: 20px;
}

#insert_sp{
    border: 0;
    border-bottom: 2px solid #000;
    outline: none;
    transition: 0.15s;
}

#add{
    border: 0;
    background-color: rgb(255, 68, 68);
    border-radius: 5px;
    color: #000;
    padding: 8px 16px;
    font-size: larger;
    font-style: bold;
    cursor: pointer;
}
    #add:hover{
        background-color: slategray;
        position: relative;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        color: rgb(255, 255, 255);
    }